<table align="center">
    <thead>
        <tr>
            <td>Name</td>
            <td><input type="text" name="Name" [(ngModel)]="Name" /></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>
                <select name="gender" [(ngModel)]="gender" >
                    <option value="" selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Country</td>
            <td>
                <select name="country" [(ngModel)]="country" >
                    <option value="" selected>Select Country</option>
                    <option value="IND">INDIA</option>
                    <option value="USA">USA</option>
                    <option value="CAN">Canada</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>EmailId</td>
            <td><input type="text" name="emailId" [(ngModel)]="emailId" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" [(ngModel)]="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button (click)="submit()">Register</button>
            </td>
        </tr>
    </thead>
    </table>